*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero{
    background: url() top center/cover no-repeat;
    position: relative;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

.hero .hero-img-wrapper {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  
  .hero .hero-img-wrapper img {
    width: 350px;
    height: auto;
    border-radius: 50%;
  }
  
  

span.hero-heading{
    display: block;
    width: fit-content;
    font-size: 4rem;
    animation: text_reveal 1s ease forwards;
    position: relative;
    color: grey;
    
}

span.hero-heading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color:lavender;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
    z-index: -1;
  }

  #hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: darkcyan;
    background-color: transparent;
    border: 1px solid darkcyan;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: background-color .3s ease, color .3s ease;
  }


#hero .cta:hover{
    color: aliceblue;
    background-color:cadetblue;
}

span.hero-heading {
    -webkit-animation: text_reveal 1s ease forwards;
    animation: text_reveal 1s ease forwards;
  }
  
  span.hero-heading::after {
    -webkit-animation: text_reveal_box 1s ease;
    animation: text_reveal_box 1s ease;
  }

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    0% {
        color:rgb(96, 39, 201);
    }
    50% {
        color:white;
    }
    100% {
        color:rgb(96, 39, 201);
    }
}

#projects .container{
    min-height: 10vh;
}
