
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #0005;
  opacity: 1;
  color: #fff;
}

.nav-links a {
  color:lightgray;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 20px;
}

.menu li {
  padding: 5px 14px;
}

/* Change the link color on hover */
li a:hover {
  background-color: transparent;
  color: white;
}

.container {
  justify-content: space-between;
  display: flex;
  width: -webkit-fill-available;
}

.navbar-name {
  font-size: 20px;
  font-style:normal;
  font-weight:bold;
  font-family:cursive;
  justify-content: start;
  color: white;
}

/* hero background image */
.bgimage {
  height: 100vh;
  background: url("img/Snapchat-913098496__02.JPG");
  background-size: cover;
  position: relative;
}

/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.AboutPageImage{
  background-size: 350px 150px;
  width: 300px;
  height: 450px;
}

.tooltip {  
  position: relative;  
  display:inline;  
  border-bottom: 1px black;  
}  
.tooltip .tooltiptext {  
  visibility: hidden;  
  width: 120px;  
  background-color: black;  
  color: #fff;  
  text-align: center;  
  border-radius: 7px;  
  padding: 5px 0;  
  position:relative;  
  
}  
.tooltip:hover .tooltiptext {  
  visibility: visible;  
}  

#about{
  padding: 80px 0;
  color: #ababab;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
  padding-left: 40px;
}

.about-col-2{
    flex-basis: 60%;
}

.aboutTitle{
  font-size: 60px;
  color: black;
  justify-content: center;
  display: inline-block;
}

.about-col-2 p{
  padding-top: 20px;
  color: black;
  font-size: 18px;
}

.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-titles p{
  color: black;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width: 50%;
}

.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
  font-size: 18px;
  color:#ff004f;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

#skills span{
  color: black;
}

#experience span{
  color: black;
}

#education span{
  color: black;
}

#services{
  padding: 30px 0;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 160px;
}

.services-list div{
  background:gold;
  padding: 40px;
  font-size: medium;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

.services-list div a{
  text-decoration: none;
  color:white;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background: orange;
  transform: translateY(-10px);
}

.serviceheading{
  text-align: center;
}

.servicesTitle{
  text-align: center;
  width: 100%;
  margin-top: 0px;
  font-size: 60px;
  color: black;
}

#portfolio{
  padding: 50px 0;
}

.projects-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 350px;
}

.projects{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.projectTitle{
  font-size: 60px;
  color: black;
  justify-content: center;
  margin-left: 600px;
}

.projects img{
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 100%;
}

.layer{
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), orange);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  color: white;
  text-align: center;
}

.layer h3{
  font-size: 20px;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
}

.contact-left{
  flex-basis: 35%;
  margin-left: 40px;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p i{
  color: black;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  margin-right: 15px;
  font-size: 30px;
  color: black;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: gold;
  transform: translateY(-5px);
}

.btn{
  margin: 50px auto;
  display: block;
  width:fit-content;
  border: 1px solid black;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  transition: background 0.5s;
}

.btn:hover{
  background: black;
  color: #fff;
}

.contact-right form{
  width: 100%;
}

form input,form textarea{
  width: 80%;
  border: 0;
  outline: none;
  background:whitesmoke;
  padding: 15px;
  margin: 15px 0;
  margin-left: 50px;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 50px;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background:gold;
  font-weight: 300;
  margin-top: 20px;
  color: black;
}

.sub-title{
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

.btn1{
  margin-left: 0px;
}

#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;
  margin-left: 50px;
}
